* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  list-style-type: none;
  width: 50%;
}

li {
  flex: 1;
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
}

form {
  width: 50%;
  margin-top: -.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

form > * {
  padding: 1rem;
  cursor: pointer;
}